{% load widget_tweaks %}
<div class="comments-area">
    <h4>{{comments.count}} Comments</h4>

    {% for comment in comments  %}
    <div class="comment-list">
        <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
                <div class="thumb">
                    <img src="img/blog/c4.jpg" alt="">
                </div>
                <div class="desc">
                    <h5><a href="#">
                        {% if comment.user %}
                        {{comment.user}}
                        {% else %}
                        {{comment.username}}        
                        {% endif %}                           
                    </a></h5>
                    <p class="date">{{comment.created_at}} </p>
                    <p class="comment">
                        {{comment.content}}
                    </p>
                </div>
            </div>
            <div class="reply-btn">
                <a href="" class="btn-reply text-uppercase">reply</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="comment-form">
    <h4>Leave a Reply</h4>
    <form method="POST">
        {% csrf_token %}
        {% if not user.is_authenticated %}
        <div class="form-group form-inline">
            <div class="form-group col-lg-6 col-md-6 name">
                <!-- {{form.content | add_class:"form-control"}} -->
                <input type="text" name="username" class="form-control" id="name" placeholder="Enter Name"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
            </div>
            <!-- <div class="form-group col-lg-6 col-md-6 email">
                <input type="email" class="form-control" id="email" placeholder="Enter email address"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
            </div> -->
        </div>
        {% endif %}
        <div class="form-group">
            <textarea class="form-control mb-10" rows="5" name="content" placeholder="Messege"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
        </div>
        <button type="submit" class="button submit_btn">Post Comment</button>
    </form>
</div>