{% extends 'core/base.html' %}
{% load static %}
{% load like_extras %}
{% block content %}
{% include 'core/includes/hero.html' %}
<section class="blog-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <img class="img-fluid" src="{{post.image.url}}" alt="">
                    <a href="#">
                        <h4>{{post.title}}</h4>
                    </a>
                    <div class="user_details">
                        <div class="float-left">
                            
                            {% for tag in post.tag_set.all  %}
                                <a href="#">{{tag}}</a>
                                
                            {% endfor %}
                                
                        </div>
                        <div class="float-right mt-sm-0 mt-3">
                            <div class="media">
                                <div class="media-body">
                                    <h5>{{post.author}}</h5>
                                    <p>{{post.created_at}}</p>
                                </div>
                                <div class="d-flex">
                                    <img width="42" height="42" src="{{post.author.image.url}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% is_post_liked as is_liked %}
                    <p>{{post.content}}</p>
                    <div class="news_d_footer flex-column flex-sm-row">
                        {% csrf_token %}
                        <a href="#" id="like_action" data-id="{{post.id}}"><span class="align-middle mr-2"><i class="ti-heart {% if is_liked %}red-heart{% endif %}" id="like-heart"></i></span>Lily and 4 people
                            like this</a>
                        <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#"><span
                                class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>06 Comments</a>
                        <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>

                <div class="navigation-area">
                    <div class="row">
                        <div
                            class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                            <div class="thumb">
                                <a href="#"><img class="img-fluid" src="img/blog/prev.jpg" alt=""></a>
                            </div>
                            <div class="arrow">
                                <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                            </div>
                            <div class="detials">
                                <p>Prev Post</p>
                                <a href="#">
                                    <h4>A Discount Toner</h4>
                                </a>
                            </div>
                        </div>
                        <div
                            class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                            <div class="detials">
                                <p>Next Post</p>
                                <a href="#">
                                    <h4>Cartridge Is Better</h4>
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                            </div>
                            <div class="thumb">
                                <a href="#"><img class="img-fluid" src="img/blog/next.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'comments/comments_list.html' with comments=post.comment_set.all %}
            </div>
            {% include 'core/includes/sidebar.html' %}
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'core/js/custom.js' %}"></script>
{% endblock %}